.selectable-table {
    user-select: none;
}

.selectable-table td {
    cursor: cell;
}

.selectable-table td.selected-cell {
    background-color: #d0e0f0 !important;

}

.selectable-table .actions button {
    cursor: pointer;
}